# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jp7fkf
	email = jp7fkf@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[pull]
	ff = only
